*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    background-color: #e6eff6;
    font-family: 'Karla', sans-serif;
}

h1 {
    font-family: 'Karla', sans-serif;
    color: #2bb3b1;

    margin-bottom: 30px;
}

h2 {
    color: #bfdf32;

    margin-bottom: 20px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 635px;
    min-width: 280px;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr;
    grid-template-areas: "about about"
                         "price why";

    border-radius: 10px;
    overflow: hidden;


}

.about {
    background-color: #ffff;
    padding: 45px 40px;
    text-align: left;

    grid-area: about;
}

.about-inner {
    color: #979ba4;
    line-height: 1.5;
}



.price {

    border: none;
    width: 100%;
    height: auto;
    background-color: #2bb3b1;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
/*    padding-right: 0;*/

    grid-area: price;

}

.title {
    font-size: 1.5em;
    font-weight: 400;
    color: #fff;
    margin-bottom: 25px;

}

.dollar {
    display: table;
    font-size: 2.1em;
    font-weight: 700;
    margin-bottom: 20px;
}

.month {
    display: table-cell;
    vertical-align: middle;
    padding-left: 13px;
    padding-right: 0;
    font-size: 16px;
    color: #81d0d4;
}

.price-inner {
    font-weight: 300;
    margin-bottom: 60px;
    letter-spacing: 0.1em;
}

.btn {
    font-weight: 700;
    display: block;
    width: 80%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: #1111 solid 1px;
    background-color: #bfdf32;
    padding: 1rem 3.5rem;
    margin: 0 auto;
    border-radius: 10px;
    transition: all .1s linear;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.6);
}

.btn:hover {
    background-color: #d5dfab;
    color: #2bb3b1;
}

.why {
    font-size: 1.5em;
    color: #fff;
    width: 100%;
    padding-top: 1.2rem;
    padding-left: 1.5rem;

    background-color: #4abebd;

    grid-area: why;

}

.list {
    font-size: 16px;
    color: #81d0d4;
    list-style: none;
    padding-left: 0;
    line-height: 1.8;
}

@media (max-width: 40rem) {
    .container {
        width: 80%;
        margin: 5rem auto;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(9rem, auto);
        grid-template-areas: "about"
                             "price"
                             "why";



    }

    .about {
        padding: 1.5rem;

    }



    h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

    h2 {
    font-size: 1rem;

}

    .about-inner {
    line-height: 1;
}



    .price-inner {
        font-weight: 300;
        margin-bottom: 2.5rem;
        letter-spacing: 0.1em;
    }





}
